@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  /*Reglas reutilizables de tailwind usando el @apply*/

  .background-pattern {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("/pattern.jpg");
    background-position: center center;
    background-repeat: repeat;
  }

  .input {
    @apply border border-gray-300 px-4 py-2 rounded-md;
  }

  .btn {
    @apply border h-[44px] inline-flex items-center justify-center gap-2 font-bold rounded-lg hover:scale-105 hover:opacity-80 transition-all;
  }

  .link {
    @apply hover:opacity-80 transition-opacity text-gray-600;
  }
}
